{{ partial:components/Hero/hero image=image }}
<section class="contact ">
    <div class="contact-container">
        <div class="contact-header">
            <div class="py-8 text-center">
                <h2 class="heading-4 font-sans text-brand-primary">
                    {{ form_title }}
                </h2>
            </div>
            <div class="pb-4 text-center">
                <p class="text-brand-primary">
                    {{ intro }}
                </p>
            </div>
        </div>
        {{ partial:components/Form/form }}
        <div class="pt-8">
            <p class="caption text-brand-primary">
                {{ small_print }}
            </p>
        </div>
    </div>
</section>