{{ block_builder }}
    {{ if type === "hero" }}
        {{ partial:components/Hero/hero image=image }}
    {{ /if }}
    {{ if type === "image_aside" }}
        {{ partial:components/ImageAside/image-aside image=image background=background image_side=image_side }}
    {{ /if }}
    {{ if type === "image_aside_multi" }}
        {{ partial:components/ImageAsideMulti/image-aside-multi image=image background=background image_side=image_side list=list }}
    {{ /if }}
    {{ if type === "cards" }}
        {{ partial:components/Cards/cards center_align=center_align }}
    {{ /if }}
    {{ if type === "bard" }}
        {{ partial:components/Bard/bard background=background image=image }}
    {{ /if }}
    {{ if type === "bard_with_map" }}
        {{ partial:components/BardMap/bardmap background=background image=image }}
    {{ /if }}
    {{ if type === "accordion" }}
        {{ partial:components/Accordion/accordion }}
    {{ /if }}
    {{ if type === "youtube_video" }}
        {{ partial:components/YouTube/youtube }}
    {{ /if }}
    {{ if type === "google_map" }}
        {{ partial:components/GoogleMap/googlemap }}
    {{ /if }}
{{ /block_builder }}