{{ block_builder }}
    {{ if type === "hero" }}
        {{ partial:components/Hero/hero image=image }}
    {{ /if }}
    {{ if type === "image_aside" }}
        {{ partial:components/ImageAside/image-aside image=image background=background image_side=image_side }}
    {{ /if }}
    {{ if type === "image_aside_multi" }}
        {{ partial:components/ImageAsideMulti/image-aside-multi image=image background=background image_side=image_side list=list }}
    {{ /if }}
    {{ if type === "image_cards_aside" }}
        {{ partial:components/ImageCardsAside/image-cards-aside image=image }}
    {{ /if }}
    {{ if type === "cards" }}
        {{ partial:components/Cards/cards }}
    {{ /if }}
    {{ if type === "bard" }}
        {{ partial:components/Bard/bard background=background }}
    {{ /if }}
    {{ if type === "accordion" }}
        {{ partial:components/Accordion/accordion }}
    {{ /if }}
{{ /block_builder }}