<div class="nav relative bg-white">
    <div class="nav__container max-w-7xl mx-auto px-4 sm:px-6 lg:px-0">
        <div class="flex justify-between items-center h-full">
            <div class="flex justify-center">
                <a href="/">
                    <img class="h-20 w-auto" src="/assets/logo.svg" loading="lazy" alt="logo" />
                </a>
            </div>
            <nav class="nav hidden lg:flex lg:items-center">
                {{ nav:main_nav }}
                    <a href="{{ url }}"
                        class="nav__link text-xl {{ is_current || is_parent ?= "nav__link--active" }}">
                        {{ title }}
                        {{ if children }}
                            <nav class="nav__dropdown">
                                {{ *recursive children* }}
                            </nav>
                        {{ /if }}
                    </a>
                {{ /nav:main_nav }}
            </nav>
            <div class="-mr-2 -my-2 lg:hidden">
                <button type="button"
                    class="js-hamburger-menu rounded-md p-2 inline-flex items-center justify-center text-brand-black transition-color hover:text-brand-primary">
                    <!-- Heroicon name: outline/menu -->
                    <svg class="h-8 w-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M4 6h16M4 12h16M4 18h16" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <div class="nav__mobile nav__mobile-closed js-mobile-navigation">
        <div class="rounded-lg shadow-lg bg-brand-white">
            <div class="pt-8 pb-10 px-5">
                <div class="flex items-center justify-between">
                    <div>
                        <a href="/">
                            <img loading="lazy" class="h-14 w-auto md:h-20 lg:h-28" src="/assets/logo.svg" alt="logo" />
                        </a>
                    </div>
                    <div class="-mr-2">
                        <button type="button"
                            class="js-hamburger-menu rounded-md p-2 inline-flex items-center justify-center text-brand-black transition-color hover:text-brand-primary">
                            <!-- Heroicon name: outline/x -->
                            <svg class="h-8 w-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M6 18L18 6M6 6l12 12" />
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="mt-6">
                    <nav class="grid gap-y-8">
                        {{ nav:main_nav }}
                            <a href="{{ url }}"
                                class="nav__link text-base {{ is_current || is_parent ?= "nav__link nav__link--active" }}">
                                {{ title }}
                            </a>
                        {{ /nav:main_nav }}
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>