{{ if template === "default" }}
    <section class="hero" style="background-image: url( '{{ image }}' );
background-size: cover;
background-position: bottom;">
{{ else }}
    <section class="hero" style="background-image: url( '{{ image:url }}' );
background-size: cover;
background-position: bottom;">
{{ /if }}
<div class="hero__text {{ image ? "text-brand-white" : "text-brand-black" }} ">
    <h1 class="heading-1">
        {{ heading }}
    </h1>
    {{ if textarea }}
        <p class="p p-base">
            {{ textarea }}
        </p>
    {{ /if }}
</div>
</section>