<script type="application/javascript">
    const submitForm = async (values) => {
        console.log(values);
        const { email } = values;
        try {
            const payload = {
                email: email
            };

        await axios.post("/.netlify/functions/add-email-subscriber", payload);
            alert("Contact details were added successfully");
        } catch (error) {
            alert(error.message);
        }
    };
</script>
{{ if template === "default" }}
    {{ asset:image }}
        <section class="hero" style="background-image: url( '{{ url }}' );
            background-size: cover;
            background-position: {{ focus_css  }};"
        >
    {{ /asset:image }}
{{ else }}
    {{ asset:image }}
        <section class="hero" style="background-image: url( '{{ url }}' );
            background-size: cover;
            background-position: {{ focus_css  }};"
        >
    {{ /asset:image }}
{{ /if }}
    <div class="hero__container {{ image ? "text-brand-white" : "text-brand-primary" }} ">
        <div class="hero__inner">
            <div class="hero__text-container">
                {{ if pretextarea }}
                    <p class="p p-base hero__pre-text">
                        {{ pretextarea }}
                    </p>
                {{ /if }}
                <h1 class="hero__heading">
                    {{ heading }}
                </h1>
                {{ if textarea }}
                    <p class="p p-base hero__post-text">
                        {{ textarea }}
                    </p>
                {{ /if }}
            </div>
            <div class="hero__form">
                <form 
                    method="POST"
                    onSubmit={submitForm}>
                    <input type="email" name="email_address" value="" placeholder="Enter email address" required="">
                    <button class="btn small btn--primary" type="submit"><span class="hidden-phone">Subscribe now</span></button>
                </form>
            </div>
            </div>
        </div>
    </div>
</section>
