{{# <div class="contact-form">
    {{ form:contact_us }}
        {{ if success }}
            <h3 class="text-brand-primaryLight font-sans heading-3 text-center">
                {{ success }}
            </h3>
        {{ else }}
            {{ fields }}
                <div class="py-2">
                    <div class="py-1">
                        {{ field }}
                    </div>
                </div>
            {{ /fields }}
            <input type="text"
                   class="hidden"
                   name="{{ honeypot ?? 'honeypot' }}">
            <button class="btn small btn--primary"
                    type="submit">Send</button>
        {{ /if }}
    {{ /form:contact_us }}
</div> #}}
<script type="application/javascript">
    const handleSubmit = e => {
        const encode = (data) => {
            return Object.keys(data)
                .map(key => encodeURIComponent(key) + "=" + encodeURIComponent(data[key]))
                .join("&");
        }
        fetch("/", {
            method: "POST",
            headers: { "Content-Type": "application/x-www-form-urlencoded" },
            body: encode({ "form-name": "contact", ...this.state })
        })
            .then(() => alert("Success!"))
            .catch(error => alert(error));
        e.preventDefault();
    };

    const [success, setSuccess] = useState(false);
    useEffect(() => {
        if ( window.location.search.includes("success=true") ) {
            setSuccess(true);
        }
    }, []);
</script>
<div class="contact-form">
    <form
    id="contact"
    name="contact"
    method="POST"
    action="/contact/?success=true"
    data-netlify="true"
    netlify-honeypot="bot-field"
    onSubmit={handleSubmit}
    >
        <div class="py-2">
            <div class="py-1">
                <input type="text" name="name" value="" placeholder="Name" required="">
            </div>
        </div>
        <div class="py-2">
            <div class="py-1">
                <input type="email" name="email_address" value="" placeholder="Enter email address" required="">
            </div>
        </div>
        <div class="py-2">
            <div class="py-1">
                <input type="tel" name="phone" value="" placeholder="Phone">
            </div>
        </div>
        <div class="py-2">
            <div class="py-1">
                <textarea name="message" rows="5" placeholder="Your message..." required=""></textarea>
            </div>
        </div>
        <input type="text" class="hidden" name="honeypot">
        <button class="btn small btn--primary" type="submit">Send</button>
    </form>
</div>