<section class="section bardmap {{ background }}">
    <div class="p p-base pt-6 pb-6 max-w-3xl mx-auto px-6 xxl:max-w-4xl xxl:pb-0 {{ center_xxl:value === 'yes' ? 'xxl:text-center xxl:list-none' : '' }} {{ center_all:value === 'yes' ? 'text-center' : '' }}">
        <div class={{ background === "bg-brand-primary" ? "text-white" : "text-brand-primary" }}>
            {{ bard }}
        </div>
        {{ if image }}
            <div class="bardmap__images-container">
                {{ image }}
                    <img
                    class="bardmap__image {{ if first }} initial{{ /if }} {{ if last }} last{{ /if }} {{ background === "bg-brand-primary" ? "border-brand-primary" : "border-white" }}"
                    src="{{ glide:url width="auto" height="auto" }}"
                    loading="lazy"
                    alt="{{ alt }}" 
                    />
                {{ /image }}
            </div>
        {{ else }}
        {{ /if }}
        {{ buttons }}
            <div class="bardmap__button {{ button_center:value === 'yes' ? 'xxl:text-center' : '' }}">
                <a class="button {{ button_color:value }}" href="{{ button_url }}"{{ if button_url | contains:sunnyworthing.co.uk }} {{ else }} rel="nofollow" target="_blank" {{ /if }}>
                    {{ button_text }}
                </a>
            </div>
        {{ /buttons }}
    </div>
</section>
<section class="map-container">
    {{ google_map_field }}
</section>