<section class="section bard {{ background }} max-w-screen-max mx-auto">
    <div class="pt-6 pb-6 max-w-3xl mx-auto px-6 xxl:max-w-4xl xxl:pb-0 {{ center_xxl:value === 'yes' ? 'xxl:text-center xxl:list-none' : '' }} {{ center_all:value === 'yes' ? 'text-center' : '' }}">
            <div class={{ background === "bg-brand-primary" ? "text-white" : "text-brand-black" }}>
            {{ bard }}
        </div>
        {{ buttons }}
            <div class="bard__button">
                <a class="button {{ button_color:value }}" href="{{ button_url }}"{{ if button_url | contains:sunnyworthing.co.uk }} {{ else }} rel="nofollow" target="_blank" {{ /if }}>
                    {{ button_text }}
                </a>
            </div>
        {{ /buttons }}
        <div class="bard__images-container">
            {{ image }}
                <img
                class="bard__image {{ if first }} initial{{ /if }} {{ if last }} last{{ /if }} {{ background === "bg-brand-primary" ? "border-brand-primary" : "border-white" }}"
                src="{{ glide:url width="auto" height="auto" }}"
                loading="lazy"
                alt="{{ alt }}" 
                />
            {{ /image }}
        </div>
    </div>
</section>