<div class="section max-w-screen-max mx-auto bg-brand-primary text-brand-white p-3 text-center font-sans flex">
    <div class="footer__left">
        <h3 class="heading-4">Subscribe to our newsletter for news, events and more...</h3>
    </div>
    <div class="footer__right">
        <a class="button button--secondary" href="https://tinyletter.com/sunnyworthing" rel="nofollow" target="_blank">
            Subscribe now
        </a>
    </div>
</div>
<footer class="section">
    <div class="footer__container">
        <div class="footer__links">
            <ul class="p p-small">
                <li>©
                    {{ site_settings:site_name }} <?= date('Y') ?>
                </li>
                {{ nav:footer_nav }}
                    <span class="mx-4">/</span>
                    <li><a href="{{ url }}"
                            class="link {{ is_current || is_parent ?= "link--active" }}">
                            {{ title }}
                        </a></li>
                {{ /nav:footer_nav  }}
            </ul>
        </div>
        {{ partial:components/Social/social-links  }}
        <div class="footer__text">
            <p class="p p-small">All Rights Reserved. Created by <a href="https://georgemc.net/">George</a>.</p>
            <p class="p p-small">Help the Sunny Worthing website and <a href="https://www.paypal.com/paypalme/sunnyworthing/25">donate via PayPal</a>.</p>
        </div>
    </div>
</footer>